@import "./mixins";
@import "./variables";
@import "./buttons";

.container {
    position: absolute;
    width: 40%;
    height: 80vh;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    @include fCenter(column);
    /* background-color: rgba(22, 22, 22, 0.6); */
    /* display: none;  */
    opacity: 0;
}

/* card small size */
.text-card {
    position: relative;
    margin: auto;
    width: 35%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none;  */
    background-color: rgb(189, 149, 97);
    box-shadow: 5px 9px 25px rgb(88, 58, 20);
    border: 1px solid white;
    color: black;
    border-radius: 10px;
    transform: scale(0) translateY(-200px);
    opacity: 0;
    transition: all 1s ease;
    
}



.next-card{
    animation: nextcard 1s forwards;
}
@keyframes nextcard{
    0%{
        opacity: 0;
    }
   
    100%{
        opacity: 1;
    }
}
   
/* card when its onscreen */
.text-card.open {
    transform: scale(1) translateY(0px);
    opacity: 1;
}