@import "./mixins";
@import "./variables";
@import "./buttons";

.drop-menu{
    width: 100%;
    height: 20vh;
    @include fCenter(row);
}
.section{
    width: 25%;
    height: 20vh;
    @include fCenter(column);
    justify-content: flex-start;
}

ul{
    opacity: 0;
    transform: translateY(50px);
    pointer-events: none;
   
    li{
        list-style: none;
    }
    a{
        text-decoration: none;
        color: black;
        font-size: 18px;
        &:hover{
            color: white;
        }
    }
}
.open{
    animation: drop 500ms ease-out  1 forwards;
    @keyframes drop {
        from{
            opacity: 0;
            transform: translateY(50px);
            pointer-events: none;
        }
        to{
            opacity: 1;
            transform: translateY(0px);
            pointer-events: all;
        }
    }
}